<div class="top">
    <div class="main-container">
      <!-- navbar start -->
      <nav>
        <div class="logo">
          <img src="../../assets/images/Logo.svg" alt="logo" />
        </div>
  
        <ul>
          <li>
            <a href="#" class="active">Home</a>
          </li>
  
          <li>
            <a href="#">Testimonial</a>
          </li>
  
          <li>
            <a href="#">Features</a>
          </li>
  
          <li>
            <a href="#">Downloads</a>
          </li>
          <li>
            <a href="#" class="btn light">Contact</a>
          </li>
        </ul>
        <div class="mobile-menu active">
          <img src="../../assets/images/icon-boxes.svg" alt="nav-icons" />
        </div>
        <div class="mobile-close">
          <img src="../../assets/images/icon-cross.svg" alt="nav-icons" />
        </div>
        <!-- mobile nav -->
  
        <nav class="mobile-navigation">
          <ul>
            <li>
              <a href="#" class="active">Home</a>
            </li>
  
            <li>
              <a href="#">Testimonial</a>
            </li>
  
            <li>
              <a href="#">Features</a>
            </li>
  
            <li>
              <a href="#">Downloads</a>
            </li>
            <li>
              <a href="#" class="btn light">Contact</a>
            </li>
          </ul>
        </nav>
      </nav>
  
      <!-- navbar ends -->
      <!-- hero section start -->
      <div class="hero-container">
        <div class="hero-image">
          <img src="../../assets/images/hero-image.svg" alt="hero-image" />
          <div class="hero-ground"></div>
        </div>
        <div class="hero-text">
          <h1>
            Hire character, <br />
            Train skill
          </h1>
          <p class="subheading">
            The success of your organization doesn't depend on your leadership alone.
             It depends on who you hire and how they lead too.
          </p>
          <a (click)="toLog()" class="btn dark">Log in</a>
        </div>
      </div>
      <!-- hero section end -->
      <!-- social media icons start -->
      <div class="social-icons">
        <a href="#">
          <img src="../../assets/images/social-instagram.svg" alt="instagram" />
        </a>
        <a href="#">
          <img src="../../assets/images/social-facebook.svg" alt="facebook" />
        </a>
        <a href="#">
          <img src="../../assets/images/social-tweeter.svg" alt="tweeter" />
        </a>
      </div>
      <!-- social media icons end -->
    </div>
    <!-- main container ends -->
    <!-- background images -->
    <div class="hero-bg-right">
      <img src="../../assets/images/right-box.svg" alt="banner-right" />
    </div>
    <div class="hero-bg-left">
      <img src="../../assets/images/left-box3.svg" alt="bannerleft" />
      <img src="../../assets/images/left-box2.svg" alt="bannerleft" />
      <img src="../../assets/images/left-box1.svg" alt="bannerleft" />
    </div>
  
    <!-- mobile bg images -->
    <img
      src="../../assets/images/bg-left-mobile.svg"
      class="bg-left-mobile"
      alt="bg-mobile"
    />
    <img
      src="../../assets/images/bg-right-mobile.svg"
      class="bg-right-mobile"
      alt="bg-right"
    />
  
    <!-- script file js -->
    <script src="./main.js"></script>
  </div>

  <router-outlet></router-outlet>